@import "/UI/style.scss";

ArenaSelectionMenu {

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 60px 50px 60px 50px;

  pointer-events: all;
  
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  .arena-list {
    align-self: stretch;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  BigBanner {
    align-self: center;
  }
  
}