@import "/UI/style.scss";

LobbyOptionsPanel {
  background-image: url("/ui/OptionsBanner.png");
  background-size: cover;
  
  flex-direction: column;
  
  align-items: center;
  
  width: 352px;
  height: 832px;
  
  SmallBanner:first-child {
    margin-top: 25px;
  }
  
  SmallBanner {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  
  .group {
    &.horizontal {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    
    flex-direction: column;
    
    width: 344px;
    align-self: flex-start;
    
    padding: 0 30px 0 30px;
    
    font-size: $normal-text-size;
    
    margin-bottom: 25px;
    
    text {
      min-width: 50px;
    }
  }
  
  .slider {
    flex-direction: row;
    margin-right: 15px;
    
    .track {
      background-color: $banner-dark-gray;
      
      .inner {
        background-color: white;
      }
    }
    
    .thumb {
      background-color: white;
    }
  }

}